name: generate pacman game

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:       # manual run

jobs:
  generate:
    permissions:
      contents: write     # allow pushing
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Generate Pac-Man SVG
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      # push output to a branch you choose (here it's "output")
      - name: Publish Pac-Man Graph
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
